/*                           Styles for ________
                             ~~~~~~~~~~~~~~~~~~~
*/

/* _______________________________________________________________________________________________ document-wide */
body {
    color: rgb(0, 0, 0) ; background: rgb(255, 255, 255) ;
    font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif ;
}

/* Note: link pseudo classes must be listed in this order */
a:link {
}
a:visited {
}
a:hover, a:focus {
}
a:active {
}

/* =================================================================================================== divisions */
/* _____________________________________________________________________________________ headings */


/* -------------------------------------------------------------------------- menu -- */


/* _____________________________________________________________________________________ content */




/* _____________________________________________________________________________________ endings */
/* ------------------------------------------------- navigation (previous-next &c) -- */


/* --------------------------------------------------------------------- footnotes -- */


/* _____________________________________________________________________________________________________________ */
